#bd
{
    background-color: #efefef;
}
p
{
    text-align: center;
}
#para1,#para2
{
    background-color: red;
    
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px
    margin-top: 50px;
    border: 1ox solid yellow;
}