body
{
    background-color: antiquewhite;
}
.img{
    float: right;
}
nav{
    float: right;
}
li{
    float: right;
    margin-left: 10px;
    list-style-type:none;
    background-color: aquamarine;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 20px;
    
}
li:hover{
    background-color: black;
}
a{
    text-decoration: none;
}
a:hover{
    color: white;
}
.box{
    width: 926px;
    left: 0px;
    background-color: #2d3954;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    color: white;
    text-align: center;

}
.img